.basket-ordering-composition {
  max-width: 350px;
  height: max-content;
  padding: 25px;
  border-radius: 13px;
  box-shadow: 4px 4px 20px rgba(184, 184, 184, 0.6);
}

.basket-ordering-composition__title {
  color: #f7d22d;
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
}

.basket-ordering-composition-list {
  padding: 0;
  list-style: none;
  color: rgba(35, 31, 32, 0.8);
  font-weight: 600;
}

.basket-ordering-composition-total {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #5f5f5f5a;
  padding-top: 10px;
}

.basket-ordering-composition-total__title {
  color: rgba(35, 31, 32, 0.6);
  font-weight: bold;
  font-size: 16px;
}

.basket-ordering-composition-total__amount {
  font-weight: bold;
  font-size: 17px;
}

/* media queries */
@media screen and (max-width: 1200px) {
  .basket-ordering-composition {
    margin-top: 30px;
  }
}
