.basket-ordering {
  display: grid;
  grid-template-columns: 1fr 400px;
}

/* media queries */
@media screen and (max-width: 1200px) {
  .basket-ordering {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .basket-ordering {
    max-width: 490px;
  }
}

@media screen and (max-width: 600px) {
  .basket-ordering {
    max-width: 320px;
  }
}
